.Rproj.user
.Rhistory
.RData
.Ruserdata
Dilger_et_al_2020.Rproj
gene_expression_fig_appendix.png
gene_expression_fig_3.png
gene_expression_fig_1.png
gene_expression_CBX_fig_1.png
dye_transfer_fig_2.png
western_blot_connexin_fig_3_b.png
western_blot_neuronal_fig_1_c.png
stats_teil.Rmd
stats_teil.pdf
stats_teil.docx
